<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>title</key>
		<string>Золотой теленок</string>
		<key>about</key>
		<string>Бешеный успех, который обрушился на Ильфа и Петрова после выхода «Двенадцати стульев», побудил соавторов «воскресить» своего героя, сына турецко-подданного Остапа Бендера. Блистательная дилогия, если верить самим авторам, — «не выдумка. Выдумать можно было бы и посмешнее». Это энциклопедия советского нэпа, энциклопедия быта первого поколения «шариковых».</string>
		<key>author</key>
		<string>И. Ильф и Е. Петров</string>
		<key>image</key>
		<string>IlfPetrovGold</string>
	</dict>
	<key>2</key>
	<dict>
		<key>title</key>
		<string>12 стульев</string>
		<key>about</key>
		<string>«Двенадцать стульев» — роман Ильи Ильфа и Евгения Петрова, написанный в 1927 году и являющийся первой совместной работой соавторов. В 1928 году опубликован в художественно-литературном журнале «Тридцать дней» (№ 1—7); в том же году издан отдельной книгой. В основе сюжета — поиски бриллиантов, спрятанных в одном из двенадцати стульев мадам Петуховой, однако история, изложенная в произведении, не ограничена рамками приключенческого жанра: в ней, по мнению исследователей, дан «глобальный образ эпохи».</string>
		<key>author</key>
		<string>И. Ильф и Е. Петров</string>
		<key>image</key>
		<string>IIfPetrov12</string>
	</dict>
	<key>3</key>
	<dict>
		<key>title</key>
		<string>1984</string>
		<key>about</key>
		<string>«1984» — роман-антиутопия Джорджа Оруэлла, изданный в 1949 году. Название романа, его терминология и даже имя автора впоследствии стали нарицательными и употребляются для обозначения общественного уклада, напоминающего описанный в романе «1984» тоталитарный режим. Произведение неоднократно становилось жертвой цензуры в социалистических странах и объектом критики со стороны левых кругов на Западе.</string>
		<key>author</key>
		<string>Д. Оруэл</string>
		<key>image</key>
		<string>Orwell1984</string>
	</dict>
	<key>4</key>
	<dict>
		<key>title</key>
		<string>В списках не значился</string>
		<key>about</key>
		<string>Вниманию читателей предлагается роман известного русского писателя Бориса Львовича Васильева &quot;В списках не значился&quot;, вошедший в золотой фонд литературы о Великой Отечественной войне. Главный герой, лейтенант Плужников, - последний защитник легендарной Брестской крепости. Но не только о сопротивлении фашистам рассказывает книга - перед нами история о преданности, любви и смерти... и, конечно, о настоящем подвиге. Далеко не всем авторам XXI века дано написать нечто подобное по силе, искренности, проникновенности, как этот удивительный роман о Русском Солдате...</string>
		<key>author</key>
		<string>Б. Васильев</string>
		<key>image</key>
		<string>VasilievNITL</string>
	</dict>
	<key>5</key>
	<dict>
		<key>title</key>
		<string>Мы</string>
		<key>about</key>
		<string>«Мы» — роман-антиутопия Евгения Замятина с элементами сатиры (1920). Действие разворачивается приблизительно в тридцать втором веке[1]. Этот роман описывает общество жёсткого тоталитарного контроля над личностью (имена и фамилии заменены буквами и номерами, государство контролирует даже интимную жизнь), идейно основанное на тейлоризме, сциентизме и отрицании фантазии, управляемое «избираемым» на безальтернативной основе «Благодетелем».</string>
		<key>author</key>
		<string>Е. Замятин</string>
		<key>image</key>
		<string>We.Zamyatin</string>
	</dict>
</dict>
</plist>
